body
{
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: url(../data/img/bg.png);
	background-repeat: repeat;
}

canvas
{
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@font-face
{
	font-family: GothamMedium;
	src: url(../data/font/Gotham-Medium.otf);
}

@font-face
{
	font-family: GothamBook;
	src: url(../data/font/Gotham-Book.otf);
}

#popupContainer
{
	position: relative;
	width: 1312px;
	height: 680px;
	overflow: hidden;
	top: 0px;
	z-index: 2;
	/*border: thin solid rgba(0, 255, 0, 1);*/
	margin-left: auto;
	margin-right: auto;
}

.screen-container
{
	position: absolute;
	top: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
}

.bottom-border
{
	height: 86px;
	background: url(../data/img/border/bottom.png) repeat-x;
	background-size: contain;
}

.bottom-border-left
{
	width: 108px;
	height: 86px;
	background: url(../data/img/border/bottom-left.png) no-repeat;
}

.bottom-border-right
{
	width: 108px;
	height: 86px;
	background: url(../data/img/border/bottom-right.png) no-repeat;
}

.left-border
{
	top: 0px;
	width: 108px;
	background: url(../data/img/border/left.png) repeat-y;
}

.right-border
{
	top: 0px;
	width: 108px;
	background: url(../data/img/border/right.png) repeat-y;
}

#screen
{
	position: relative;
	width: 1312px;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

.popup
{
	position: absolute;
	left: 0px;
	top: -400px;
	padding: 0px;
	width: 492px;
	height: 358px;
	background-color: #9bffe6;
	cursor: default;
	opacity: 1;
}

.left-side
{
	float: left;
	width: 222px;
	height: 358px;
	background: url(../data/img/license/leftback.jpg);
}

.right-side
{
	float: right;
	width: 270px;
	height: 358px;
	padding: 0px;
}

.title-image
{
	width: 233px;
	height: 20px;
	margin-top: 29px;
	margin-left: 9px;
	background: url(../data/img/license/title.png); 
}

.pack-shot
{
	float: left;
	width: 181px;
	height: 256px;
	margin-top: 28px;
	display: inline-block;
}

.game-info
{
	width: 270px;
	margin-left: 9px;
	margin-top: 19px;
}

.game-info h3
{
	color: #3e3e3e;
	font-size: 14px;
	font-family: GothamBook, Helvetica, Arial, sans-serif;
	margin-top: 6px;
	margin-bottom: 0px;
	letter-spacing: 3px;
}

.game-info p
{
	color: #23132d;
	font-size: 13px;
	font-family: GothamMedium, Helvetica, Arial, sans-serif;
	margin-top: 0;
	margin-right: 15px;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: justify;
}

a
{
	display: block;
	background: url(../data/img/license/tweet-fact.png) no-repeat;
	height: 34px;
	width: 244px;
}

a:hover;
{
	background-position: 0 -34px !important;
}