body
{
	overflow: hidden;
}

canvas
{
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@font-face
{
	font-family: GothamBlack;
	src: url(../data/font/Gotham-black.ttf);
}

@font-face
{
	font-family: GothamBook;
	src: url(../data/font/Gotham-Book.otf);
}

#popupContainer
{
	position: relative;
	width: 1312px;
	height: 680px;
	overflow: hidden;
	top: 0px;
	z-index: 2;
	border: thin solid rgba(0, 255, 0, 1);
	margin-left: auto;
	margin-right: auto;
}


#screen
{
	position: relative;
	top: -680px;
	z-index: 1;
}

.popup
{
	position: absolute;
	left: -5px;
	top: 100px;
	padding: 0px 20px 10px 10px;
	width: 492px;
	height: 358px;
	background: -moz-linear-gradient(top, rgba(255,255,254,0.9) 0%, rgba(242,240,196,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,254,0.9)), color-stop(100%,rgba(242,240,196,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,254,0.9) 0%,rgba(242,240,196,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,254,0.9) 0%,rgba(242,240,196,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,254,0.9) 0%,rgba(242,240,196,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,254,0.9) 0%,rgba(242,240,196,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6fffffe', endColorstr='#e6f2f0c4',GradientType=0 ); /* IE6-9 */
	border-width: 4px;
	-webkit-border-image: url(../data/img/license/border.png) 4 3 4 3 repeat;
	-moz-border-image: url(../data/img/license/border.png) 4 3 4 3 repeat;
	border-image: url(../data/img/license/border.png) 4 3 4 3 repeat;
	border-style: solid;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 5px;
	cursor: default;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
	opacity: 1;
}

.title-image
{
	width: 405px;
	height: 41px;
	margin-top: 18px;
	margin-left: 28px;
	background: url(../data/img/license/title.png); 
}

.pack-shot
{
	float: left;
	width: 181px;
	height: 256px;
	margin-top: 28px;
	display: inline-block;
}

.game-info
{
	float: right;
	width: 278px;
	margin-left: 181px;
	margin-top: -266px;
}

.game-info h3
{
	color: #2b76da;
	font-size: 15px;
	font-family: GothamBlack, Helvetica, Arial, sans-serif;
	margin-top: 8px;
	margin-bottom: 0px;
	letter-spacing: 1px;
}

.game-info p
{
	color: #23132d;
	font-size: 14px;
	font-family: GothamBook, Helvetica, Arial, sans-serif;
	margin-top: 0;
	margin-right: 15px;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: justify;
}