body
{
	overflow: hidden;
}

canvas
{
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#popupContainer
{
	position: relative;
	width: 1312px;
	height: 680px;
	overflow: hidden;
	top: 0px;
	z-index: 2;
	border: thin solid rgba(0, 255, 0, 1);
	margin-left: auto;
	margin-right: auto;
}


#screen
{
	position: relative;
	top: -680px;
	z-index: 1;
}

.popup
{
	position: absolute;
	left: 25px;
	top: -300px;
	padding: 0px 20px 10px 10px;
	width: 250px;
	background: rgba(255, 0, 0, 1);
	border: thin solid rgba(0, 255, 0, 1);
	color: #eeeeee;
	font-family: Droid Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor: pointer;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
	opacity: 1;
}