html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	overflow-x: hidden;
}

@font-face
{
	font-family: GothamMedium;
	src: url(../font/Gotham-Medium.otf);
}

@font-face
{
	font-family: GothamBook;
	src: url(../font/Gotham-Book.otf);
}

.top-border
{
	top: 0px;
	width: 1154px;
}

.top-border-left
{
	float: left;
	width: 108px;
	height: 86px;
	margin-left: -64px;
	margin-left: -75px\9;
	background: url(../img/border/top-left.png) no-repeat;
}

.top-border-middle
{
	float: left;
	width: 935px;
	height: 86px;
	background: url(../img/border/top.png) repeat-x;
}

.top-border-right
{
	float: right;
	width: 108px;
	height: 86px;
	margin-right: 67px;
	margin-right: 78px\9;
	background: url(../img/border/top-right.png) no-repeat;
}

.bottom-border
{
	width: 1154px;
}

.bottom-border-left
{
	float: left;
	width: 108px;
	height: 86px;
	margin-left: -64px;
	margin-left: -75px\9;
	background: url(../img/border/bottom-left.png) no-repeat;
}

.bottom-border-middle
{
	float: left;
	width: 935px;
	height: 86px;
	background: url(../img/border/bottom.png) repeat-x;
}

.bottom-border-right
{
	float: right;
	width: 108px;
	height: 86px;
	margin-right: 67px;
	margin-right: 78px\9;
	background: url(../img/border/bottom-right.png) no-repeat;
}

.left-border
{
	float: left;
	width: 108px;
	height: 100%;
	background: url(../img/border/left.png) repeat-y;
	padding-top: 10182px;
	margin-left: -64px;
	margin-left: -75px\9;
}

.right-border
{
	float: right;
	width: 108px;
	height: 100%;
	padding-top: 10182px;
	margin-right: -80px;
	background: url(../img/border/right.png) repeat-y;
}

.share-container
{
	position: relative;
	width: 100%;
	vertical-align: bottom;
	margin: auto;
	top: 500px;
}

.share-inner
{
	width:179px;
	height: 42px;
	bottom: 10px;
	vertical-align: bottom;
	margin: 0 auto;
}

.fb-link
{
	display: block;
	float: left;
	width: 43px;
	height: 42px;
	padding-right: 25px;
	margin-left: -15px;
	background: url(../img/social/facebook.png) no-repeat;
}

.tw-link
{
	display: block;
	float: left;
	width: 43px;
	height: 42px;
	padding-right: 25px;
	background: url(../img/social/twitter.png) no-repeat;
}

.g-link
{
	display: block;
	float: left;
	width: 43px;
	height: 42px;
	background: url(../img/social/google.png) no-repeat;
}

.car-container
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.car
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background: url(../img/mobile_deloreon_sprite.png);
	width: 96px;
	height: 192px;
	left: 14px;
}

.content-container
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 86px;
}

.title-container
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	width: 935px;
	height: 600px;
	background: url(../img/title.jpg) no-repeat;
	background-color: #070029;
	z-index: 5;

	opacity: 0.5;
}

.s1-container
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2504px;
	display: block;
	position: relative;
	width: 935px;
	height: 900px;
	z-index: 1;
}

.s1-road-left
{
	position: relative;
	float: left;
	background: url(../img/level1/road-side.png) repeat-y;
	width: 30px;
	height: inherit;
	margin-left: 274px;
}

.s1-road-lines-left
{
	position: relative;
	float: left;
	background: url(../img/level1/road-lines-left.png) repeat-y;
	width: 6px;
	height: inherit;
	margin-left: 14px;
}

.s1-road-lines-right
{
	position: relative;
	float: left;
	background: url(../img/level1/road-lines-right.png) repeat-y;
	width: 6px;
	height: inherit;
	margin-left: 279px;
}

.s1-road-right
{
	position: relative;
	float: right;
	background: url(../img/level1/road-side.png) repeat-y;
	width: 30px;
	height: inherit;
	margin-right: 279px;
}

.divider1
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2154px;
	display: block;
	position: relative;
	top: 0px;
	background: url(../img/divide/first-bridge.png) no-repeat;
	width: 935px;
	height: 245px;
	z-index: 3;
}

.s2-container
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -245px;
	display: block;
	position: relative;
	width: 935px;
	height: 1384px;
	z-index: 1;
}

.s2-trees-left
{
	position: relative;
	float: left;
	background: url(../img/level2/tree-left.png);
	width: 119px;
	height: 1384px;
}

.s2-road-left
{
	position: relative;
	float: left;
	background: url(../img/level2/road-side.png) repeat-y;
	width: 33px;
	height: 1384px;
	margin-left: 152px;
}

.s2-road-right
{
	position: relative;
	float: left;
	background: url(../img/level2/road-side.png) repeat-y;
	width: 33px;
	height: 1384px;
	margin-left: 323px;
}

.s2-trees-right
{
	position: relative;
	float: right;
	background: url(../img/level2/tree-right.png);
	width: 119px;
	height: 1384px;
}

.divider2
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	display: block;
	position: relative;
	top: 0px;
	background: url(../img/divide/second-bridge.png) no-repeat;
	width: 935px;
	height: 329px;
	z-index: 3;
}

.s3-container
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -229px;
	display: block;
	position: relative;
	width: 935px;
	height: 1384px;
	background-color: #636363;
	z-index: 1;
}

.s3-road-left
{
	position: relative;
	float: left;
	background: url(../img/level3/road-side.png) repeat-y;
	width: 33px;
	height: 1384px;
	margin-left: 273px;
}

.s3-road-right
{
	position: relative;
	float: left;
	background: url(../img/level3/road-side.png) repeat-y;
	width: 33px;
	height: 1384px;
	margin-left: 324px;
}

.divider3
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	display: block;
	position: relative;
	top: 0px;
	background: url(../img/divide/third-bridge.png) no-repeat;
	width: 935px;
	height: 329px;
	z-index: 3;
}

.s4-container
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -229px;
	display: block;
	position: relative;
	width: 935px;
	height: 1384px;
	background-color: #636363;
	z-index: 1;
}

.s4-side-left
{
	position: relative;
	float: left;
	background-color: #00de01;
	width: 273px;
	height: 1384px;
}

.s4-side-right
{
	position: relative;
	float: right;
	background-color: #00de01;
	width: 275px;
	height: 1384px;
}

.s4-road-left
{
	position: relative;
	float: left;
	background: url(../img/level4/road-side-left.png) repeat-y;
	width: 46px;
	height: 1384px;
	margin-left: 0px;
}

.s4-road-right
{
	position: relative;
	float: left;
	background: url(../img/level4/road-side-right.png) repeat-y;
	width: 46px;
	height: 1384px;
	margin-left: 295px;
}

.divider4
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -200px;
	display: block;
	position: relative;
	top: 0px;
	background: url(../img/divide/fourth-bridge.png) no-repeat;
	width: 935px;
	height: 404px;
	z-index: 3;
}

.s5-container
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -204px;
	display: block;
	position: relative;
	width: 935px;
	height: 1683px;
	z-index: 1;
}

.s5-side-left
{
	position: relative;
	float: left;
	background: url(../img/level5/side.png) repeat;
	width: 318px;
	height: inherit;
}

.s5-side-right
{
	position: relative;
	float: right;
	background: url(../img/level5/side.png) repeat;
	width: 319px;
	height: inherit;
}

.s5-road
{
	position: relative;
	float: left;
	background: url(../img/level5/road.png) repeat;
	width: 298px;
	height: inherit;
}

.divider5
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -634px;
	display: block;
	position: relative;
	top: 0px;
	background: url(../img/divide/bowser-bridge.png) no-repeat;
	width: 935px;
	height: 1277px;
	z-index: 3;
}

.s6-container
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -280px;
	display: block;
	position: relative;
	width: 935px;
	height: 1384px;
	z-index: 1;
}

.s6-side-left
{
	position: relative;
	float: left;
	background: url(../img/level6/side-left.jpg) repeat;
	width: 322px;
	height: 1384px;
}

.s6-side-right
{
	position: relative;
	float: right;
	background: url(../img/level6/side-right.jpg) repeat;
	width: 304px;
	height: 1384px;
}

.s6-road
{
	position: relative;
	float: left;
	background: url(../img/level6/road.jpg) repeat;
	width: 309px;
	height: 1384px;
}

.divider6
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -157px;
	display: block;
	position: relative;
	top: 0px;
	background: url(../img/divide/sixth-bridge.png) no-repeat;
	width: 935px;
	height: 315px;
	z-index: 3;
}

.s7-container
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: -158px;
	display: block;
	position: relative;
	width: 935px;
	height: 1384px;
	z-index: 1;
}

.s7-side-left
{
	position: relative;
	float: left;
	background: url(../img/level7/side-left.jpg) repeat;
	width: 280px;
	height: 1384px;
}

.s7-side-right
{
	position: relative;
	float: right;
	background: url(../img/level7/side-right.jpg) repeat;
	width: 252px;
	height: 1384px;
}

.s7-road
{
	position: relative;
	float: left;
	background: url(../img/level7/road.jpg) repeat;
	width: 403px;
	height: 1384px;
}

.finish-line
{
	position: relative;
	background: url(../img/level7/finish-line.png) repeat-x;
	width: 277px;
	height: 184px;
	top: 880px;
	left: 64px;
}

.popup
{
	left: 0px;
	width: 329px;
	height: 238px;
	padding: 0px;
	background-color: #9bffe6;
	cursor: default;
}

.pack-shot
{
	float: left;
	width: 131px;
	height: 182px;
	display: inline-block;
	margin-top: 27px;
	margin-left: 3px;
}

.left-side
{
	float: left;
	margin-left: 1px;
	width: 148px;
	height: 238px;
	background: url(../img/license/leftback.jpg);
	background-size: 100% 100%;
}

.right-side
{
	float: right;
	width: 180px;
	height: 238px;
	padding: 0px;
}

.title-image
{
	width: 155px;
	height: 13px;
	margin-top: 16px;
	margin-left: 6px;
	background: url(../img/license/title.png);
	background-size: 100% 100%;
}

.game-info
{
	width: 180px;
	margin-left: 6px;
	margin-top: 8px;
}

.game-info h3
{
	color: #3e3e3e;
	font-size: 8px;
	font-family: GothamBook, Helvetica, Arial, sans-serif;
	margin-top: 2px;
	margin-bottom: 0px;
	letter-spacing: 1px;
}

.game-info p
{
	color: #23132d;
	font-family: GothamMedium, Helvetica, Arial, sans-serif;
	font-size: 10px;
	margin-top: 0;
	margin-right: 30px;
	margin-bottom: 15px;
	line-height: 110%;
	letter-spacing: 0px;
	text-align: justify;
}

.game-info a
{
	display: block;
	background: url(../img/license/tweet-fact.png) no-repeat;
	height: 23px;
	width: 163px;
	background-size: 100% 200%;
}

.game-info a:hover;
{
	background-position: 0 -23px !important;
}

.popup-container
{
	margin-left: auto;
	margin-right: auto;
	margin-top: -158px;
	display: block;
	position: relative;
	width: 935px;
	z-index: 4;
}

#pop1
{
	margin-top: 200px;
	float: left;
}

#pop2
{
	margin-top: 600px;
	float: right;
}

#pop3
{
	margin-top: 950px;
	float: left;
}

#pop4
{
	float: right;
}

#pop5
{
	float: left;
}

#pop6
{
	float: right;
}

#pop7
{
	float: left;
}

#pop8
{
	float: right;
}

#pop9
{
	float: left;
}

#pop10
{
	float: right;
}

#pop11
{
	float: left;
}

#pop12
{
	float: right;
}

#pop13
{
	float: left;
}